/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  padding-top: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.75rem;
  padding: 2rem 0 1.5rem 0;
}

h4 {
  font-size: 1.5rem;
}

nav li {
  display: inline-block;
  padding: 0.5rem;
}

.main-content {
  /* margin-top: 4rem; */
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

.button {
  background-color: skyblue;
  color: white;
  padding: 0.75rem;
  max-width: 100%;
  text-align: center;
}

.container {
  display: flex;
  padding: 2rem 0 2rem 1.5rem;
}

.left-column {
  width: 60%;
  padding-right: 1.5rem;
}

.left-column img,
.left-column video {
  max-width: 100%;
  height: auto;
}

.right-column {
  width: 40%;
  margin-top: -1rem;
}

.info-box {
  display: flex;
  align-items: center;
}

.info-box-image {
  height: auto;
  width: 35%;
  padding: 1rem;
}

.info-box-image img {
  width: 100%;
  height: auto;
}

.info-box-text {
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
}

.info-box-text > * {
  padding: 0.25rem 1.5rem 0.25rem 0;
}

.info-box-text a {
  color: royalblue;
}

/* Header Styles */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: whitesmoke;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

header .logo a {
  display: flex;
  align-items: center;
}

header .logo p {
  font-weight: bold;
}

header .logo span {
  font-weight: lighter;
  color: darkgrey;
}

header nav.mobile {
  display: none;
}

/* CTA Banner Section Styles */
#cta {
  background-color: CornflowerBlue;
}

#cta .right-column {
    display: flex;
    align-items: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20rem;
  min-height: 15rem;
  padding: 1rem;
}

/* On Campus Section Styles */
.author {
  line-height: 5;
}

/* Online Section Styles */
#online {
  background-color: CornflowerBlue;
}

.gallery {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 2rem 4.5rem;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.gallery-item img {
  height: auto;
  width: 100%;
}

.gallery-item-text {
  padding: 0.75rem 1rem 1.5rem 1.25rem;
}

.gallery-item-text > * {
  padding: 0.25rem 0;
}

/* For Companies Section Styles */
.main-thesis {
  padding: 1.5rem 0 0.5rem 0;
}

/* Footer Styles */
footer {
  border-top: 1px solid black;
  margin: 0 0.125rem;
  padding: 1rem 1.375rem 2rem 1.375rem;
  display: flex;
  justify-content: space-between;
}
