/* Fonts linked two ways here and once in index.html for demonstration
 * of ability to link fonts not best practice. */
/* Google Font Link */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Downloaded Font */
@font-face {
  font-family: "Linux Libertine";
  src: url(../fonts/LinLibertine_RB.ttf) format('truetype');
  src: url(../fonts/LinLibertine_RI.ttf) format('truetype');
}

/* Universal Styles */

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

h1, h2, h3, h4 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
}


h1 {
  font-size: 2.5rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  text-align: center;
  background-color: #F4F0CB;
  box-shadow: 0 0 5px 5px #F4F0CB;
  position: relative;
  top: 2rem;
}

h3 {
  font-size: 1.75rem;
  padding: 2rem 0 1.5rem 0;
}

h4 {
  font-size: 1.5rem;
}

nav li {
  display: inline-block;
  padding: 0 0.5rem;
  font-family: "Roboto Slab", sans-serif;
  transition: all 0.5s;
}

nav li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

nav li a:hover,
.logo:hover {
  color: navy; /* this does not affect the logo */
  text-decoration: underline;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

/* This hack has some odd behaviors */
:target:not(#companies):before {
  content: "";
  display: block;
  height: 4rem; /* To offset targets for fixed header */
  margin: -4rem 0 0; /* note: this solution did not work for link to #cta */
  /* background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0); */
}

.button {
  background-color: #B7C68B;
  /* color: white; */
  padding: 0.75rem;
  /* width: 10rem; */
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 2rem;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: none;
  transition: background-color 1s linear 100ms;
}

.button:hover {
  background-color: lightgreen;
}

.container {
  display: flex;
  padding: 2rem 0 2rem 1.5rem;
}

.left-column {
  width: 60%;
  padding-right: 1.5rem;
}

.left-column img,
.left-column video {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

@media only screen and (max-width: 975px) {
  .container {
    display: block;
    padding: 0;
  }
  .left-column img,
  .left-column video {
    border-radius: 0;
  }
  .left-column-text {
    padding: 0 2rem;
  }
  .info-box {
    background-color: #F4F0CB;
  }
}

.right-column {
  width: 40%;
}

.info-box {
  display: flex;
  align-items: center;
}

.info-box-image {
  height: auto;
  width: 35%;
  padding: 1rem;
}

.info-box-image img {
  width: 100%;
  height: auto;
}

.info-box-text {
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
}

.info-box-text > * {
  padding: 0.25rem 1.5rem 0.25rem 0;
}

.info-box-text a {
  color: lightslategrey;
  transition: color 1s;
}

.info-box-text a:hover {
  text-decoration: underline;
  color: blue;
}

/* Header Styles */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #33241f;
  background-color: #B3A580;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

header .logo a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Linux Libertine', serif;
  line-height: 1;
}

header .logo strong {
  font-weight: bold;
}

header .logo em {
  font-style: italic;
  color: #33241f;
}

header nav.mobile {
  display: none;
}

/* Tablet View */
@media only screen and (max-width: 680px) {
  .logo strong, .logo em {
    display: none;
  }
}

/* Mobile View */
@media only screen and (max-width: 460px) {
  header .desktop {
    display: none;
  }
  header nav.mobile {
    display: block;
    width: 100%;
  }
  header ul {
    width: auto;
    display: flex;
    justify-content: space-between;
  }
  /* larger target for mobile */
  header a {
    padding: 1rem;
  }
  header .content {
    padding: 1rem 0.5rem;
  }
}


/* CTA Banner Section Styles */
#cta {
  background-color: #685642;
}

#cta .right-column {
    display: flex;
    align-items: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22rem;
  min-height: 15rem;
  padding: 1rem;
  color: #B7C68B;
  text-shadow: 1px 1px black;
}

/* Tablet View */
@media only screen and (max-width: 975px) {
  #cta .right-column, .left-column {
    width: 100%;
    padding: 0;
  }
  .text-content {
    width: 100%;
    padding: 2rem 1rem;
    min-height: 0;
  }
  .text-content h1,
  .text-content h4 {
    padding: 0 1rem 1.5rem 1rem;
  }
  .button {
    width: 20rem;
    margin: auto;
  }
}

/* Mobile View */
@media only screen and (max-width: 390px) {
  .text-content {
    width: 100%;
    padding: 2rem 1rem;
    min-height: 0;
  }
  .text-content h1 {
    padding: 0 0 2rem 0;
  }
  .text-content h4 {
    padding: 0 0 1.5rem 0;
  }
  .button {
    width: 90%;
  }
}

/* On Campus Section Styles */
#on-campus {
  background-color: #DED29E;
}

.author {
  line-height: 5;
}

#on-campus .right-column {
  margin-top: -1rem; /* keeps first item flush with left column */
}

img.mobile {
  display: none;
}

/* Tablet Landscape View */
@media only screen and (max-width: 975px) {
  #on-campus .right-column {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    width: auto;
  }
}

/* Tablet Portrait View */
@media only screen and (max-width: 790px) {
  #on-campus .right-column {
    grid-template: repeat(3, auto) / minmax(255px, 450px);
  }
}

/* Mobile View */
@media only screen and (max-width: 460px) {
  #on-campus .left-column {
    display: none;
  }
  .info-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .info-box-image {
    width: auto;
    padding: 0;
  }
  img.desktop {
    display: none;
  }
  img.mobile {
    display: block;
  }
  .info-box-text {
    width: auto;
    padding: 1rem;
  }
}

/* Online Section Styles */
#online {
  background-color: #685642;
}

.gallery {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 4rem 4.5rem;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  background-color: #F4F0CB;
  border-radius: 3px;
  /* max-width: 360px; */
  transition: background-color 1s;
}

.gallery-item:hover {
  background-color: rgba(255, 255, 255, 0.95);
}

.gallery-item img {
  height: auto;
  width: 100%;
}

.gallery-item-text {
  padding: 0.75rem 1rem 1.5rem 1.25rem;
}

.gallery-item-text > * {
  padding: 0.25rem 0;
}

/* Tablet Landscape View */
@media only screen and (max-width: 1046px) {
  .gallery {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    padding: 4rem 3rem;
  }
}

/* Tablet Portrait View */
@media only screen and (max-width: 714px) {
  .gallery {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    padding: 3rem 1rem 2rem 1rem;
    grid-gap: 0.5rem;
  }
}

/* Phablet View */
@media only screen and (max-width: 714px) {
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery-item {
    max-width: 360px;
    margin-top: 0.5rem;
  }
}

/* Mobile View */
@media only screen and (max-width: 460px) {
  .gallery-item img,
  .gallery-item span,
  .gallery-item p {
    display: none;
  }
  .gallery {
    align-items: stretch;
  }
  .gallery-item {
    max-width: 100%;
  }
  .gallery-item-text {
    padding: 1rem; /* 1rem 1.5rem 1rem; */
  }
  .gallery-item-text h4 {
    padding: 0;
  }
}

/* For Companies Section Styles */
#companies {
  background-color: #DED29E;
}

.main-thesis {
  padding: 1.5rem 0 0.5rem 0;
}

#companies .container {
  padding-top: 4rem;
}

#companies .info-box:hover {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  transition: background-color 1s;
}

/* Tablet Landscape View */
@media only screen and (max-width: 975px) {
  #companies .right-column {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    width: auto;
  }
}
/* Tablet Portrait View */
@media only screen and (max-width: 790px) {
  #companies .right-column {
    grid-template: repeat(2, auto) / minmax(255px, 450px);
  }
}
/* Mobile View */
@media only screen and (max-width: 460px) {
  #companies .right-column,
  #companies .left-column-text {
    display: none;
  }
  video {
    padding-bottom: 1.5rem;
  }
}

/* Footer Styles */
footer {
  background-color: #B3A580;
  border-top: 1px solid #33241f;
  padding: 1rem 1.375rem 2rem 1.375rem;
  display: flex;
  justify-content: space-between;
}

/* Mobile View */
@media only screen and (max-width: 560px) {
  footer nav {
    display: none;
  }
}
